$primary-color: #d09f6d;
$heading-font: Arial, sans-serif;
$white-color: #ffffff;
$dark-pink: #ff4d91;
$dark-blue: #007bff;

$feature-bg: #171b27;
$plans-bg: #10141f;

$bold-font-weight: 700;
$normal-font-weight: 400;


$sm: 375px;
$md: 786px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$btn-radius: 999px; 
$btn-padding: 0.4rem 1.5rem;
$btn-font-weight: 600;
$btn-color: #fff;

$gradient-login: linear-gradient(90deg, #2193b0, #6dd5ed); // Blue gradient
$gradient-register: linear-gradient(90deg, #ff512f, #dd2476); // Pink → Orange gradient